/* 
https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png */

.header{
    width: 100%;
background-color: rgb(19,25, 33);
height: 70px;
color: #ffff;
}
/* layout/ */
.container{
   
width: 99%;

/* background-color: red; */
height: 100%;
/* margin: auto; */

}
.container-header{
    display: flex;
    align-items: center;
}
/* logo  */
.logo{
    height: 50px;
    width: 100%;
    background: url("https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png ");
    background-repeat: no-repeat;
    background-position-y: -40px;

}
.logo-container{
    height: 50px;
    width: 130px;
    display: flex;
    align-items: center;
    

}
.border-white:hover{
    border: 1.5px solid #ffff;

}
.border-white{
    border: 1.5px solid transparent;
    padding: 5px;

}
.dotin{
position: relative;
margin-left: -10px;
margin-top: -10px;
}
/* address section */
.address-container{
    width:200px;

margin-left: 20px;
}
.address-container .icon-address{
    display: flex;
    align-items: center;

}
.address-container p{
    margin: 0;
}
.hello{
    
    font-size: 0.8rem;
 
}
/* searchbar */
.search-container{
    background-color: red;
    margin-left: 25px;
    width: 650px;
    display: flex;
    height: 40px;
    justify-content: space-between;
    border-radius: 3px;
    overflow: hidden;
}
.search-container:hover{
    outline: 3px solid orange;
}
.search-select{
    width: 50px;
    border: none;
    background-color: rgb(230,227,227);
}
.search-input{
    width: 100%;
    padding-left: 20px;
    height: 100%;
    border: none;
    outline: none;
   
    font-size: 1.1rem;
}
.search-icon1{
    width: 50px;
    background-color: rgb(231, 127, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color:red;

}
.search-icon1 p{
    font-size: 0.8rem;
    color: #212121;
}
/* navigation */

.nav{
height: 40px;
background-color:rgb(35,47,61);
margin: 0;
padding: 0.1px;
}
.container-nav{
    display: flex;
    align-items: center;
    padding-left: 15px;
    justify-content: space-between;
}
.container-nav  ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
    color: white;
    list-style: none;

}
.container-nav  ul li a{
    color: white;
    text-decoration: none;
    padding: 0px 3.2px;
    font-size: 1rem;
}
.nav-right-image{
   min-width: 300px;
    height: 300;
    max-width: 350px;
}
.nav-right-image img{
    width: 100%;
}
.Prime-image{
    background-color:white;
    width: 350px;
    height: 350px;
  position: absolute;
    z-index: 1;
    display: none;
    margin-top: 30px;
  padding: 10px;
}
.Prime-image-hover:hover .Prime-image{
    display:inline-block;
}
.Prime-image img{
    width: 100%;
}
/* language */
.language-image {
    width: 20px;

}
.language-image img{
    width: 100%;

}
.language-container{
    margin-left: 15px;

}
.language-container p{
    font-size: 0.8rem;
    margin: 0px;
}
/* login-container */
.login-container{
margin-left: 30px;
}
.login-container p{
    margin: 0px;

}
.account{
    font-weight: 900;
    font-size: 1.1rem;
}
/* order */
.return-order-container{
    width: 76px;
    font-size: 0.9rem;
    margin-left: 10px;
}
.return-order-container p{
    margin: 0;
}
.order{
    font-weight: 900;
    font-size: 1rem;
    display: flex;
    width: 70px;
}
/* cartcontainer */
.cart-container{
    width: 76px;
    font-size: 0.9rem;
    margin-left: 60px;
}
.cart-container i{
    font-size: 1.3rem;
}
/* -- mainbody --/ */
.image-container{
position: relative;
}
.image-list{

    display: flex;
    overflow: hidden;
}
.image-item{
    min-width: 100%;
  transition: transform 0.4s;
}
.image-item img{
    width: 100%;
    height: 100%;
   
  
}
.image-btn-container{
position: absolute;
top: 0;
display: flex;
justify-content: space-between;
width: 100%;
}
.slider-btn{
    border-color:transparent;
    padding: 100px 20px;
    font-size: 40px;
    font-weight: 300;
    background-color: transparent;
    color: black;

}
.slider-btn:focus{
    border-color:seagreen;
    box-shadow: -2px -2px 2px  white,
    2px 2px 2px  white;
    margin: 2px;
    
}
/* sidebarnavigation */
.slider-container{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;

    background-color: rgb(0,0,0,0.7);
    transform:translateX(-100%);
    transition:transform 0.2s;
}
.slider-show{
    transform:translateX(0%)
}
.slidebar-leftpart{
    background-color: white;
    width: 360px;
    height: 100%;
    box-sizing: 5px 5px 10px rgba(0,0,0,0.8);
}
.sidebar-top{
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    padding-left: 30px;
    background-color: rgb(19,25, 33);
    color: white;
}
.sidebar-top h2{
    margin: 0;
    font-size: 22px;
}
.sidebar-top i{
    padding-right: 10px;
    font-size: 25px;
}
.slidebar-item{
    padding-left: 30px;
    border-top: 1.5px solid #ccc;
}
.slidebar-item h2{
    font-size: 20px;
}
.slidebar-item p{
    color: #413f3f;
}
#slidebar-navigation-close{
    background-color:transparent;
    align-self: flex-start;
    font-size: 30px;
    border: none;
    color: white;
    padding: 20px;
    cursor: pointer;
    
}
.search-select2{
    width: 70px;
    border: none;
    background-color:white;
}
.sidebar-wrap{
    height: 100%;
  overflow: auto;
  padding-bottom: 100px;
}
/* product card container */

.card-nested p{
    margin: 5px;
}
.card-nested img{
    width: 140px;
    height: 102px;
    object-fit: cover;
    cursor: pointer;
}
.card-product-nested-card{
    display: flex;


flex-wrap: wrap;
justify-content: space-evenly;
}
.card-product-container{
   
    padding: 20px;
    display: flex;
    justify-content:space-between;
}
.card-product{
    background-color: white;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: -20px -0px 10px rgba(255, 255,255,0.5),
    20px 20px 10px rgba(255, 255,255,0.5);;

}
.card-product h2{
margin: 10px;
}
.card-product-btn{
    font-size: 14px;
    align-self: flex-start;
    margin: 7px 18px;
    padding-left: 0;
background-color: transparent;
border: none;
color: aqua;
}
.main{
    position: relative;
    top: -350px;
}
.card-nested1 img{
    width: 100%;
   cursor: pointer;
    object-fit: cover;
}
.card-nested1 p{
    margin: 5px;
}
/* todays deals section */
.today-deals-product-items{
   min-width: 250px;
   height: 290px;
   padding: 0px 10px;
   margin-right: 10px;
   display:flex;
   flex-direction: column;
   transform: translateX(0%);
/* 
   height: 290px; */
}
.todaydeal-product-image{
    max-height: 200px;
    max-width: 210px;
}


.today-deals-product-items img{
   height:70%;
    width: 100%;
    padding: 10px 35px;

}
.today-deals-product-list{
    display: flex;
}
.today-deals-product-container{
 
    /* padding: 25px; */
    height: 300px;
    /* background-color: red; */
    position: relative;
overflow: hidden;
}
.today-deals-container{
    margin: 30px;
    box-shadow: -2px -2px 5px rgba(0,0,0,0.1),
    2px 2px 5px rgba(0,0,0,0.1);
   

}
.today-deal-heading{
    display: flex;
    align-items: center;
    padding: 2px 20px;
    margin: 0;

}

.today-deal-heading p a{
color: rgb(28, 80, 74);
text-decoration: none;
padding-left: 18px;
}
.today-deal-heading p a:hover{
    text-decoration: underline;
}
.discount-container{
    border: 0px;
    /* border: 2px solid red; */
}
.discount-container a{
    padding: 5px 10px ;
    font-size: 12px;
    color: rgba(149, 8, 8, 0.859);
    text-decoration: none;
}
.discount-container a:first-child{
background-color:  rgba(149, 8, 8, 0.859);
padding: 5px 10px;
color: white;
font-weight: 550;
text-decoration: none;
border-radius: 3px;
font-size: 12px;
}
.today-deal-btn-container{
  position: absolute;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
height: 100%;
padding: 20px;
z-index: 10;
}

.today-deal-btn{
    padding: 40px 10px;
    font-size: 40px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.4);
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#body_FA{
    display: flex;
    display: flex;
  
    
}
#Filter_sort_section{
    /* border: 1px solid red; */
    height: auto;
    width:  23%;

   padding-left: 100px;
   
}
#Filter_sort_section>p{
    font-size: 12px;
    line-height: 17px;
    color:  #212121;
 }
 #Filter_sort_section>h5{
     font-size: 12px;
     line-height: 17px;
     color: #ff6f61;
     font-family: Arial, Helvetica, sans-serif ;
 }
#Api_section{
    /* border: 1px solid red;  */
    height: auto;
    width: 60%;
    padding-left: 120px;
    margin-top: 40px;
    
}
#brd{
    overflow-y: auto; 
    height: 220px;
    font-size: 13px;
    line-height: 20px;
    color: #212121;
    
    
    
}
#gsearch{
    height: 32px;
    width: 150px;
    border-radius: 3px;
   color: #6666;
   
}
#Api_section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 2px;
}
#h2_Popular_Combo_Deals{
    margin-left: 200px;
   
    
}

#Api_section>div{
    /* border: 1px solid red;  */
    display: grid;
    width: 260px;
    height: 400px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    margin: 10px;
    padding: 0px 10px;
}
#Api_section>div:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: rgba(128, 128, 128, 0.06);
}

.name_div{
    height: 30px;
    padding: 5px;
}
.lastSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}
.lastSection>button{
    height:fit-content;
    width: 30%;
    background-color: #ff6f61;
    border: none;
    border-radius: 5px;
    color: white;
}
.adc{
    cursor: pointer;
}
/* #Api_section:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid red;
} */
body {
    overflow-x: hidden;
    padding: 0%;
    margin: 0%;
  }
  #carousel {
      background: white;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    .main_slider {
      display: flex;
    }
    .slider {
      content: url(../images/slider1.jpg);
      width: 60%;
      height: 280px;
      overflow-x: hidden;
      animation: slide 24s infinite;
      cursor: pointer;
    }
    @keyframes slide {
      20% {
        content: url(../images/slider6.png);
      }
      40% {
        content: url(https://onemg.gumlet.io/a_ignore,w_899,h_200,c_fit,q_auto,f_auto/0332ec27-3c8b-4d11-851b-cd107af9eee0.png);
      }
      60% {
        content: url(../images/slider4.jpg);
      }
      80% {
        content: url(../images/slider3.png);
      }
      100% {
        content: url(../images/slider8.jpg);
      }
    }
    .fixed_img {
      width: 40%;
      height: 280px;
      cursor: pointer;
    }
    #below_slider_p {
      text-align: center;
      font-size: 30px;
      color: dimgray;
      padding-bottom: 30px;
    }
    @media only screen and (min-width: 375px) and (max-width: 1000px) {
      .main_slider {
        display: block;
      }
      .slider {
        width: 100%;
      }
      .fixed_img {
        width: 100%;
      }
      #below_slider_p {
        font-size: 20px;
        padding-bottom: 10px;
      }
    }
    
    
    
    #careplan_img {
      width: 90%;
      margin: auto;
    }
    #brands_text {
      display: flex;
      justify-content: space-between;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 2%;
    }
    #brands_text > p {
      font-size: 18px;
      font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    #brands_text > button {
      width: 60px;
      height: 30px;
      background: coral;
      color: white;
      border: none;
      border-radius: 5%;
      font-size: 10px;
      font-weight: bold;
      cursor: pointer;
    }
    .brands {
      display: flex;
      justify-content: space-around;
    
      padding-left: 15%;
      padding-right: 15%;
    }
    .brands > img {
      cursor: pointer;
    }
    .brands > div {
      text-align: center;
      font-size: 13px;
      font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding: 2%;
      border-radius: 5%;
      cursor: pointer;
    }
    .brands > div:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    #mg {
      width: 87%;
      height: 350px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 30px;
      margin-top: 50px;
      /* margin-left: 70px; */
    
    }
    
    #mg > div {
     padding: 0px 4px;
     cursor: pointer;
    }
    #mg > div:hover{
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: #333;
    }
    /* @media only screen and (max-width: 680px){
      #mg{
       grid-template-columns: repeat(2, 1fr);
      }
       
     } */
    
    #pro {
      width: 100%;
      height: 100px;
    }
    #brands_head{
      font-size: 18px;
      font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin-left:98px;
      margin-top: 50px;
      /* border: 1px solid red; */
    }
    .proClass {
      width: 150px;
      height: 200px;
    }
    .name_div {
      width: 100%;
      height: 43px;
    
      overflow: hidden;
    }
    .proname {
      font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #212121;
      font-weight: 400;
    }
    .quantity {
      font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 12px;
      color: #757575;
      font-weight: 400;
      line-height: 5px;
    }
    .div5 {
      background-color: #1aab2a;
      font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: white;
      font-weight: 400;
      width: 40px;
      height: 20px;
      padding-left: 5px;
      border-radius: 10%;
    }
    
    .mrp {
      font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 12px;
      color: #757575;
      font-weight: 400;
      line-height: 5px;
      text-decoration: line-through;
      margin-right: 10px;
    }
    .dis {
      font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 12px;
      color: #1aab2a;
      font-weight: 400;
    }
    .price {
      font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      color: #212121;
      font-weight: 400;
    }
    #sup {
      width: 87%;
      height: 350px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 30px;
      margin-top: 50px;
      /* margin-left: 30px; */
    }
    #sup > div {
      padding: 0px 4px;
      cursor: pointer;
     }
     #sup > div:hover{
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
    .pre_img {
      height: 150px;
      width: 80px;
      margin-left: 30px;
    }
    
    #biotine {
      width: 87%;
      height: 350px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 30px;
      margin-top: 50px;
      /* margin-left: 30px; */
    }
    
    #biotine > div {
     padding: 0px 4px;
     cursor: pointer;
    }
    #biotine > div:hover{
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    #brkfast {
      width: 87%;
      height: 350px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 30px;
      margin-top: 50px;
    /* margin-left: 30px; */
    }
    
    #brkfast > div {
     padding: 0px 4px;
     cursor: pointer;
    }
    #brkfast  > div:hover{
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    #logincontainer{
              background-color: turquoise;
              width: 100%;
              height: 100vh;
              margin: 0%;
              display: none;
              align-items: center;
              justify-content: center;
              z-index: 4 ;
              position:absolute;
          }
          #loginpage{
              display: flex;
              width: 60%;
              background-color: white;
                                      
          }
          #loginpage > #left {
              padding: 50px;
              width: 50%;
              border: 1px solid red;
          }
          #loginpage > #right {
              padding: 20px ;
              width: 50%;
              border: 1px solid red;
          }
          #loginpage > #right > #x{
              display: flex;
              padding: 0px;
              align-items: flex-end;
              justify-content: flex-end;
          }
          #right > #form{
              padding: 50px 20px;
          }
          #inputbox{
              border: none;
              width: 80%;
              margin: 20px;
              border-bottom: 1px solid red;
          }
          #x:hover{
              cursor: pointer;
          }
          .count {
            position: absolute;
            font-size: 14px;
            background: #ff6f61;
            color: #fff;
            width: 18px;
            height: 18px;
            line-height: 18px;
            border-radius: 5px;
            box-shadow: 0 0 1px #333;
            top: 3px;
            right: 100px;
            text-align: center;
          }
          
    #logincontainer, #signupcontainer{
      background-color: rgba(0, 0, 0, 0.575);
      width: 100%;
      height: 100vh;
      margin: 0%;
      display: none;
      align-items: center;
      justify-content: center;
      z-index: 4 ;
      position:absolute;
    }
    #loginpage{
    display: flex;
    width: 60%;
    height: 60%;
    background-color: white;
    border-radius: 10px;                                    
    }
    #loginpage > #left {
    width: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    }
    #loginpage > #left >#loginCard{
    width: 70%;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    }
    #loginpage > #right {
    padding: 20px ;
    width: 50%;
    color: black;
    }
    #loginpage > #right > #x, #loginpage > #right > #sx{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border: 1px solid;
    }
    #right > #form{
    padding: 0px 20px 50px 20px;
    border: 1px solid;
    }
    #inputbox{
    border: none;
    width: 80%;
    margin: 20px;
    }
    #x:hover, #sx:hover{
    cursor: pointer;
    }
    
    .seeall{
    width: 87%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: auto;
    }
    
    
